* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.header {
  background: url(../img/header.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  min-width: 1170px;
  padding: 0 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
.header::before {
  content: '';
  background: #3a464f;
  opacity: .3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 25px;
  z-index: 2;
}
.header_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}
.header_title {
  color: white;
  font: 700 40px/60px 'Open Sans', sans-serif;
  text-transform: uppercase;
}
.header_form-title {
  padding-top: 100px;
  color: white;
  font: 400 18px/24px 'Open Sans', sans-serif;
}
.header_form-title__color {
  color: #dd2476;
}
.header_scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 25px;
  width: 60px;
  height: 115px;
  background: #271b1b;
  margin: auto;
  z-index: 2;
}
.contacts {
  text-align: right;
}
.contacts_phone {
  color: white;
  font: 400 18px/30px 'Open Sans', sans-serif;
}
.contacts_email {
  color: white;
  font: 400 13px/30px 'Open Sans', sans-serif;
}
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 35px;
  width: 570px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
}
.form_input {
  width: calc(100% - 200px);
  border: none;
  font: 400 14px/72px 'Open Sans', sans-serif;
  color: #262626;
  padding-left: 20px;
  border-radius: 5px 0 0 5px;
}
.form_input::-webkit-input-placeholder {
  color: #a6a6a6;
}
.form_input:-ms-input-placeholder {
  color: #a6a6a6;
}
.form_input::-ms-input-placeholder {
  color: #a6a6a6;
}
.form_input::placeholder {
  color: #a6a6a6;
}
.form_submit {
  background: #bf0508;
  width: 200px;
  border: none;
  font: 14px/72px 'Open Sans', sans-serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0 5px 5px 0;
}
.main {
  background: #f0f0f0;
  min-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 50px;
}
.section_title {
  font: 700 36px/76px 'Open Sans', sans-serif;
  color: #262626;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}
.section_title::after {
  content: '';
  background: url(../img/line.png) no-repeat;
  width: 200px;
  height: 20px;
}
.section_title__color {
  color: white;
}
.section_subtitle {
  font: 700 24px 'Open Sans', sans-serif;
  color: #262626;
  text-transform: uppercase;
}
.section_text {
  font: 400 18px 'Open Sans', sans-serif;
  color: #575757;
  padding-top: 20px;
  z-index: 2;
}
.section_text__color {
  color: white;
}
.services_item {
  padding-top: 35px;
  width: 1170px;
  display: grid;
  grid-gap: 30px 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(270px, -webkit-max-content);
  grid-template-rows: minmax(270px, max-content);
}
.item {
  background: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.item_text {
  font: 700 14px/18px 'Open Sans', sans-serif;
  color: #262626;
  text-align: center;
  padding-top: 25px;
}
.item_text__weight {
  font: 600 16px/18px 'Open Sans', sans-serif;
}
.item_text__less {
  color: #575757;
  font: 400 14px 'Open Sans', sans-serif;
  text-align: left;
}
.item_title {
  color: #262626;
  font-size: 700 24px 'Open Sans', sans-serif;
  padding-top: 50px;
}
.help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 70px;
}
.help_item {
  padding-top: 30px;
  width: 1170px;
  display: grid;
  grid-gap: 30px 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(345px, -webkit-max-content) minmax(345px, -webkit-max-content);
  grid-template-rows: minmax(345px, max-content) minmax(345px, max-content);
}
.button {
  width: 230px;
  height: 45px;
  background: #ffd800;
  position: absolute;
  top: 175px;
  left: 70px;
  border: 0;
  border-radius: 5px;
}
.problem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 60px 0;
}
.problem_item {
  padding-top: 30px;
  min-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.links {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.object_title {
  font: 700 14px 'Open Sans', sans-serif;
  color: #242728;
  background: white;
  padding: 15px 30px;
}
.build-link {
  color: #575757;
  font: 400 14px 'Open Sans', sans-serif;
  padding: 15px 30px;
}
.build-link:hover {
  background-color: #f8f8f8;
  color: #733840;
}
.objects {
  width: 770px;
  padding: 50px 70px;
  background: white;
}
.legal-help {
  background: url(../img/help.jpg) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 500px;
  position: relative;
}
.legal-help::before {
  content: '';
  background: #3a464f;
  opacity: .3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.violations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 0;
  background: white;
}
.violations_item {
  padding-top: 30px;
  width: 1170px;
  display: grid;
  grid-gap: 30px 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 345px 345px;
}
.reception {
  background: url(../img/signup.jpg) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 500px;
  position: relative;
}
.reception::before {
  content: '';
  background: #3a464f;
  opacity: .3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.discounts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 0 75px 0;
  background: white;
}
.discounts_item {
  padding-top: 65px;
  width: 1170px;
  display: grid;
  grid-gap: 30px 30px;
  grid-template-columns: repeat(4, 1fr);
}
.item_discounts {
  font: 700 14px 'Open Sans', sans-serif;
  color: #262626;
  padding-top: 0;
}
.item_percent {
  font: 700 60px 'Open Sans', sans-serif;
  color: #bf0508;
}
.container-contacts {
  background: url(../img/map.jpg) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 50px;
  height: 600px;
  position: relative;
}
.container-contacts::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), color-stop(30%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 30%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 30%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 30%);
}
.list-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 25px;
  z-index: 2;
}
.phone {
  font: 700 18px 'Open Sans', sans-serif;
  color: white;
  padding-right: 130px;
}
.email {
  font: 400 18px 'Open Sans', sans-serif;
  color: white;
}
.footer {
  background: #1c1c1c;
  min-width: 650px;
  padding: 0 485px;
}
.footer_title {
  font: 700 18px 'Open Sans', sans-serif;
  color: white;
  text-align: center;
  padding-top: 40px;
}
.payment-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 30px;
}
.card {
  padding: 25px;
}
.footer_copyright {
  font: 300 13px 'Open Sans', sans-serif;
  color: #bcbcbc;
  text-align: center;
  padding-bottom: 40px;
}
