.layout
  .layout_section
      .team-slider
          img.slider_icon(src='img/Icon-Team.png', alt='')
          h3.h3 meet our team
          .slider_team._slider_team
            .slider_team_item
              img.slider_team_img(src='img/team1.png', alt='')
              .slider_team_title
                h5.h5 miguel obrien
                .slider_text CEO & Founder
              .icon
                a(href='')
                  img.icon_item(src='img/behance.png', alt='')
                a(href='')
                  img.icon_item(src='img/linked-in.png', alt='')
                a(href='')
                  img.icon_item(src='img/google+.png', alt='')
                a(href='')
                  img.icon_item(src='img/facebook.png', alt='')
                a(href='')
            .slider_team_item
              img.slider_team_img(src='img/team1.png', alt='')
              .slider_team_title
                h5.h5 jackie carroll
                .slider_text Art director
              .icon
                a(href='')
                  img.icon_item(src='img/behance.png', alt='')
                a(href='')
                  img.icon_item(src='img/linked-in.png', alt='')
                a(href='')
                  img.icon_item(src='img/google+.png', alt='')
                a(href='')
                  img.icon_item(src='img/facebook.png', alt='')
                a(href='')
            .slider_team_item
              img.slider_team_img(src='img/team1.png', alt='')
              .slider_team_title
                h5.h5 ida morrison
                .slider_text Designer
              .icon
                a(href='')
                  img.icon_item(src='img/behance.png', alt='')
                a(href='')
                  img.icon_item(src='img/linked-in.png', alt='')
                a(href='')
                  img.icon_item(src='img/google+.png', alt='')
                a(href='')
                  img.icon_item(src='img/facebook.png', alt='')
                a(href='')