mixin header
  .layout.header_top-wrap
      .layout_section
        .header_top
          .header_network
            a.header_link(href='')
              i.fab.fa-facebook-f.header_icon
            a.header_link(href='')
              i.fab.fa-twitter.header_icon
            a.header_link(href='')
                i.fab.fa-linkedin-in.header_icon
            a.header_link(href='')
              i.fab.fa-google-plus-g.header_icon
          .header_contact
            i.far.fa-clock.header_icon.header_icon__modifier
            span.header_contact-item Mon - Sat: 7:00 - 17:00
            i.fa.fa-phone.header_icon.header_icon__modifier
            span.header_contact-item +386 40 111 55555
            i.far.fa-envelope.header_icon.header_icon__modifier
            span.header_contact-item info@yourdomain.com
  .layout
    .layout_section
       .header_inner
        a(href='index.html')
          img.logo(src='img/checkbox-logo.png', alt='')
        .header_menu
          a.header_menu-item(href='index.html') home
          a.header_menu-item(href='about-us.html') about us
          a.header_menu-item(href='full-news.html') pages
          a.header_menu-item(href='project.html') projects
          a.header_menu-item(href='news.html') blog
          a.header_menu-item(href='contact.html') contact us
