.menu
  span.menu-item
    a.link(href='#') All
  span.menu-item
    a.link(href='#') Web
  span.menu-item
    a.link(href='#') HTML
  span.menu-item
    a.link(href='#') Wordpress
  span.menu-item
    a.link(href='#') UI