mixin share
   .share 
      p.share_title share with
      form(method='get', action='https://facebook.com')
         button.button_share.button_share__fb Facebook
         button.button_share Twitter
         button.button_share.button_share__g Google Plus
         button.button_share.button_share__inst Instargam