section.layout.header-wrap
  .layout
    .layout_section
        button.button.button__slider.slider_arrow-prev._prewArrow
          i.fa.fa-chevron-left
        .header-slider
          .slider
            h1.slider_title we care about your bussines
            .slider_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum consectetur egestas.
              |Nulla nisi nisi, rutrum vitae nunc non, bibendum euismod nulla
            input.button.button__slider(type='submit', value='about us')
          .slider
            h1.slider_title we care about your bussines
            .slider_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum consectetur egestas.
              |Nulla nisi nisi, rutrum vitae nunc non, bibendum euismod nulla
            input.button.button__slider(type='submit', value='about us')
          .slider
            h1.slider_title we care about your bussines
            .slider_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum consectetur egestas.
              |Nulla nisi nisi, rutrum vitae nunc non, bibendum euismod nulla
            input.button.button__slider(type='submit', value='about us')
        button.button.button__slider._nextArrow.slider_arrow-next
          i.fa.fa-chevron-right