.layout
  .layout_section
      .header_title
        h1.h1 creative digital project
        .header_text Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.