mixin header
  .layout
    .layout_section
       .header_inner
        a(href='index.html')
          img.logo(src='img/logo.png', alt='')
        .header_menu
          a.header_menu-item(href='#index') home
          a.header_menu-item(href='#about') about
          a.header_menu-item(href='#service') services
          a.header_menu-item(href='#works') works
          a.header_menu-item(href='#contact') contact us