-
 var serviceItems = [{
   icon: '<img class="service_icon" src="img/Icon-Graphic.png" alt="" />',
   title: 'GRAPHIC DESIGNH',
   text: 'Cras mattis consectetur purus sit amet fermentum.',
 },{
   icon: '<img class="service_icon" src="img/Icon-Web.png" alt="" />',
   title: 'WEB DEVELOPMENT',
   text: 'Cras mattis consectetur purus sit amet fermentum.',
 },{
   icon: '<img class="service_icon" src="img/Icon-Services.png" alt="" />',
   title: 'OUR SERVICES',
   text: 'Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue.”',
 },{
   icon: '<img class="service_icon" src="img/Icon-SEO.png" alt="" />',
   title: 'SEO & MARKETING',
   text: 'Cras mattis consectetur purus sit amet fermentum.',
 },{
   icon: '<img class="service_icon" src="img/Icon-Mobile.png" alt="" />',
   title: 'MOBILE DEVELOPMENT',
   text: 'Cras mattis consectetur purus sit amet fermentum.',
 },{
   icon: '',
   title: '',
   text: '',
 }];