mixin about
  .about_picture
    .about_title about us
    img.about_img(src='img/about.jpg', alt='')
  .about_info
    p.about_text
      | Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    br
    p.about_text
      span.about_text__modifier Morbi leo risus
      | , porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum.
      |             Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.
    form.form-button(method='get', action='about.html')
      button.button(type='submit') Learn More