-
  var RelatedLinks = [{
      category: '<span class="footer_text footer_text__accent"><i class="fa fa-angle-right"> </i> </span> Official Site',
    },{
      category: '<span class="footer_text footer_text__accent"><i class="fa fa-angle-right"> </i> </span> CreativeMarket profile',
    },{
      category: '<span class="footer_text footer_text__accent"><i class="fa fa-angle-right"> </i> </span> Materialzer page on CM ',
    },{
      category: '<span class="footer_text footer_text__accent"><i class="fa fa-angle-right"> </i> </span> Electronic WP Theme',
    },{
      category: '<span class="footer_text footer_text__accent"><i class="fa fa-angle-right"> </i> </span> Was favvvv ',
    }];

-
  var NewsMedia = [{
      category: '<span class="footer_text footer_text__accent"><i class="fa fa-angle-right"> </i> </span> Events',
    },{
      category: '<span class="footer_text footer_text__accent"><i class="fa fa-angle-right"> </i> </span> News and Press Releases',
    },{
      category: '<span class="footer_text footer_text__accent"><i class="fa fa-angle-right"> </i> </span> Interviews',
    },{
      category: '<span class="footer_text footer_text__accent"><i class="fa fa-angle-right"> </i> </span> Subsidiaries Media Contacts',
    },{
      category: '<span class="footer_text footer_text__accent"><i class="fa fa-angle-right"> </i> </span> Media Kit',
    }];

-
  var GetInTouch = [{
      category: '<span class="footer_text footer_text__accent"><i class="fa fa-map-marker"> </i> </span> 84 Street, City, State 24813',
    },{
      category: '<span class="footer_text footer_text__accent"><i class="fa fa-phone"> </i> </span> +00 (123) 456 78 90',
    },{
      category: '<span class="footer_text footer_text__accent"><i class="fa fa-envelope-o"> </i> </span> <a class="footer_text href="mailto:info@yourcompany.com">info@yourcompany.com</a>',
    }];