-
  var projectsItems = [{
    img: 'img/project1.jpg',
  },{
    img:'img/project2.jpg',
  },{
    img:'img/project3.jpg',
  },{
    img:'img/project4.jpg',
  },{
    img:'img/project5.jpg',
  },{
    img:'img/project6.jpg',
  }];