-
  var serviceItems = [{
    icon: '<i class="fab fa-twitch"></i>',
    title: 'nibh ridiculus',
    text: 'Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus etmagnis dis parturie nt montes, nascetur.',
  },{
    icon: '<i class="fas fa-subway"></i>',
    title: 'grammatica del',
    text: 'Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus etmagnis dis parturie nt montes, nascetur.',
  },{
    icon: '<i class="fas fa-columns"></i>',
    title: 'europan lingues',
    text: 'Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus etmagnis dis parturie nt montes, nascetur.',
  },{
    icon: '<i class="fab fa-slack-hash" aria-hidden="true"></i>',
    title: 'ipsum quia',
    text: 'Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus etmagnis dis parturie nt montes, nascetur.',
  },{
    icon: '<i class="fab fa-telegram-plane"></i>',
    title: 'aliquam quaerat',
    text: 'Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus etmagnis dis parturie nt montes, nascetur.',
  },{
    icon: '<i class="fal fa-object-ungroup"></i>',
    title: 'dolorem eum',
    text: 'Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus etmagnis dis parturie nt montes, nascetur.',
  },{
    icon: '<i class="fa fa-hand-peace-o" aria-hidden="true"></i>',
    title: 'WITHIN BUDGET',
    text: 'Work with us involve a carefully planned series of steps, centered around a schedule we stick daily communication.',
  },{
    icon: '<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>',
    title: 'BEST services',
    text: 'Work with us involve a carefully planned series of steps, centered around a schedule we stick daily communication.',
  },{
    icon: '<i class="fa fa-users" aria-hidden="true"></i>',
    title: 'Friendly SUPPORT',
    text: 'Work with us involve a carefully planned series of steps, centered around a schedule we stick daily communication.',
  }];