-
  var ourTeam = [{
    img: 'img/team-1.png',
    name: 'Shila Khondoker',
    position: 'Chief technical officer',
  },{
    img:'img/team-2.png',
    name: 'Shila Khondoker',
    position: 'Chief technical officer',

  },{
    img:'img/team-3.png',
    name: 'Shila Khondoker',
    position: 'Chief technical officer',

  },{
    img:'img/team-4.png',
    name: 'Shila Khondoker',
    position: 'Chief technical officer',
  }];