.form {
    display: flex;
    justify-content: center;
    align-items: center;
    &_button {
    font: 20px @fontPTSans;
    color: #7d7a7c;
    font-style: italic;
    border: solid 1px #7d7a7c;
    width: 193px;
    height: 48px;
    margin: 100px 0;
        &__modifier {
        color: @colorGeneral;
        margin: 50px 0;
        border: solid 1px @colorGeneral;
        background: transparent;
        }
        &__map {border-radius: 4px;
        background-color:  #9f9acf;
        width: 293px;
        height: 70px;
    }
    }
}