body {
    background: #F6F6F6;
}

main {
    background: #FFFFFF;
    margin: 130px 100px;
    box-shadow: 2px 2px 3px;
    padding: 140px 120px;
}

.title {
    font-size: 42px;
    font-family: 'playfair', serif; 
    color: #000;
    text-align: left;
}

.general:first-letter {
    font-family:  'Playfair Display', serif;
    font-size: 110px;
    color: #000;
    float: left;
    line-height: 40px;
   }

.general {
    font-size: 18px;
    font-family: 'lato', sans-serif;
    color: grey;
    font-weight: lighter;
    text-align: justify; 
    white-space: pre-wrap;
    line-height: 34px;
}

.last {
    font-style: italic;
    font-size: 24px;
    font-family: 'lato', sans-serif;
    color: grey;
    line-height: 34px;
    white-space: pre-wrap;
}

.last:before {
    content: '"';
    text-align: left;
    font-size: 34px;
}

.afte {
    text-transform: uppercase;
    font-size: 18px;
    color: orange;
    white-space: pre-wrap;
    line-height: 68px;
    border: 2px solid orange;
    width: 264px;
    text-align: center;
}

