form#contact.form(action="#" method="post" name="info_form")
  .form_row
    input.form_input(type="text" placeholder="Your Name*" pattern="^[a-zA-Z]+$" required)
    input.form_input(type="email" placeholder="Your E-Mail*" required)
  textarea.form_textarea(placeholder="Your Message*")
  button.button.button__map(type='submit') SEND MESSAGE