.works-wrap {
  background-image: url("../img/works.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: @color;
  position: relative;
  }

.works-slider {
  padding-top: 50px;
}


.slider {
	&_icon {
	width: 40px;
	height: 60px;
	margin: auto;
    display: block;
	}
	&_img {
	width: 730px;
	height: 546px;
	margin-top: 70px;
	}
}
