section.layout.works-wrap
  .layout
    .layout_section
        #works.works-slider
          img.slider_icon(src='img/Icon-Works.png', alt='')
          h3.h3 recent works
          .slider
            img.slider_img(src='img/work.jpg', alt='')
            img.slider_img(src='img/work.jpg', alt='')
            img.slider_img(src='img/work.jpg', alt='')
        form.form(method='get', action='blog.html')
          button.form_button.form_button__modifier(type='submit') View Gallery