mixin footer
  footer.layout#footer.footer
    .layout_section
      .footer_inner
        .footer_copyright
          i.far.fa-copyright
          .footer_text 2014 tulusdriyo. All Rights Reserved.
        .footer_icon
          a(href='')
            img.footer_icon_item(src='img/behance.png', alt='')
          a(href='')
            img.footer_icon_item(src='img/linked-in.png', alt='')
          a(href='')
            img.footer_icon_item(src='img/google+.png', alt='')
          a(href='')
            img.footer_icon_item(src='img/facebook.png', alt='')
          a(href='')
            img.footer_icon_item(src='img/twitter.png', alt='')